.container2 {
    background-color: #deb887;
      /*background-image: url('hangmanbackground.jpg');*/
      background-size: cover;
      background-position: center;
      /* Add other styles as needed */
    }
    
    /* Add your existing CSS styles for the game elements */
  
    
    .text-center{
      color: #934CF5;
    }
    
    
    
    p{
      color: aliceblue;
    }
    
    
    
    #WordSpotlight{
      color: aliceblue;
    }
  
  .floatRight{
      color: aliceblue;
  }
  
  .btn{
      color: #934CF5;
  }